{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "rules": {
      "no-underscore-dangle": "off",
      "no-unused-vars": "off",
      "no-use-before-define": "off",
      "max-len": "off",
      "@typescript-eslint/no-use-before-define": ["error"],
      "object-curly-newline": ["error", { "ObjectPattern": { "multiline": true } }],
      "react/prop-types": ["off"],
      "react/jsx-filename-extension": ["off"],
      "semi": "off"
    },
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"],
          "moduleDirectory": ["node_modules", "src/"]
        }
      }
    }
}
